.barra-lavado {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: #f2f2f2;
    padding: 4vw;
    border-radius: 20px;
    width: fit-content;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
  }
  
  .rendija {
    width: 4vw;
    height: 6vh;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s;
  }
  
  .rendija.activa {
    background-color: #A1D3FE;
  }
  
  .contenedor-gota {
    width: 40px;
    height: 60px;
  }
  
  .gota-img {
    width: 10vw;
    position: absolute;
    top: 0;
  }
  
  #porcentaje {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: white;
    pointer-events: none;
    z-index: 1;
 }