@font-face {
  font-family: 'Super Cottage';
  src: url(../../../../fonts/Super\ Cottage.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Super Lobster';
  src: url(../../../../fonts/Super\ Lobster.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Super Peace';
  src: url(../../../../fonts/Super\ Peace.ttf);
  font-weight: normal;
  font-style: normal;
}


h1{
  font-family: 'Super Cottage', sans-serif;  
  font-size: 3vh;
}

h2{
  margin-left: 2vh;
  font-size: 2.5vh;
  font-family: 'Super Peace', sans-serif;  
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f9fbff;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vh;
    padding: 16px;
    font-weight: bold;
    color: #3c3c6e;
    font-size: 20px;
  }
  
  .top-bar .back-button {
    text-decoration: none;
    color: #3c3c6e;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 12px;
  }
  
  .content {
    padding: 0 16px 80px;
    overflow-y: auto;
  }

  .lavado-card {
    background-color: #f1f6ff;
    border-radius: 16px;
    padding: 2vh;
    margin-bottom: 3vh;
    margin-inline: 2vh;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    max-height:  15vh;
    transition: max-height 0.4s ease-in-out;
  }

  .lavado-card p {
    font-size: 1.5vh;
    margin: 0 0 6px;
  }

  .lavado-card ul {
    list-style: disc;
    padding-left: 18px;
    margin: 0;
    font-size: 1.5vh;
  }

  .lavado-card:hover {
    max-height: 45vh; 
  }
  
  .lavado-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    margin-top: 1vh;
  }
  
  .lavado-card:hover .lavado-button {
    opacity: 1;
    pointer-events: auto;
  }
  
  .lavado-card .icon {
    width: 10vh;
    margin-bottom: 1vh;
  }

  .info{
    width: 100%;
  }
  
  .lavado-card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .lavado-button{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 2vh;
  }

  .button {
  cursor: pointer;
  position: relative;
  padding: 1vh 2vh;
  font-size: 2vh;
  color: #5D6B8B;
  border: 2px solid #5D6B8B;
  font-family: 'Super Lobster', sans-serif;
  border-radius: 34px;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #5D6B8B;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #EDF2FB;
  scale: 1.1;
  box-shadow: 0 0px 20px #4A556F ;
}

.button:active {
  scale: 1;
}



  
  .lavado-card .heart {
    width: 20px;
    position: absolute;
    bottom: 12px;
    left: 8px;
  }
  
  .button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5D6B8B;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000; /* Para que esté por encima de todo */
  }

  
  .heart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .heart.activo {
    transform: scale(1.2);
    opacity: 0.9;
  }
  
  .hist-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Super Lobster', sans-serif;
    font-size: 2vh;
  }

  .hist-hour{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
  }

  .hist-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%
  }

  .fav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Super Cottage', sans-serif;
    font-size: 2vh !important;
  }

  .fav-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }


  .popup-botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /*NAVEGADOR MOVIL*/
.button-nav {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button-nav:hover {
  transform: translateY(-3px);
}

.icon-img {
  width: auto;
  height: 2.5vh;
}
