@font-face {
    font-family: 'Super Cottage';
    src: url(../../../../fonts/Super\ Cottage.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Janda';
  src: url(../../../../fonts/JandaManateeSolid.ttf);
  font-weight: normal;
  font-style: normal;
}


h1{
  font-family: 'Super Cottage', sans-serif;  
  font-size: 3vh;
  padding-top: 6px;
  padding-left: 13px;
}

h2{
  margin-left: 2vh;
  font-size: 2.5vh;
  font-family: 'Super Cottage', sans-serif;  
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f9fbff;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  padding-left: 15px;
  /*padding: 16px;*/
}

.top-bar .back-button {
  text-decoration: none;
  color: #3c3c6e;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 12px;
}

.top-bar h1 {
  color: #3c3c6e;
  font-weight: bold;
  /*margin-top: 2vw;*/
}

.header-subtitulo {
  text-align: center;
}


.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5D6B8B;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000; /* Para que esté por encima de todo */
}


/*NAVEGADOR MOVIL*/
.button-nav {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button-nav:hover {
  transform: translateY(-3px);
}

.icon-img {
  width: auto;
  height: 2.5vh;
}

/* Contenido de la página */

.game-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* pal centro */
}

.game-placeholder {
  /*margin-top: 80px;*/
  width: 100%;
}

.game-placeholder img {
  width: 70px;
  opacity: 0.7;
}

.game-placeholder p {
  margin-top: 15px;
  font-size: 2.8vw;
  color: #b0b0b0;
}
