@font-face {
    font-family: 'Super Cottage';
    src: url(../../../../fonts/Super\ Cottage.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Janda';
  src: url(../../../../fonts/JandaManateeSolid.ttf);
  font-weight: normal;
  font-style: normal;
}


h1{
  font-family: 'Super Cottage', sans-serif;  
  font-size: 3vh;
}

h2{
  margin-left: 2vh;
  font-size: 2.5vh;
  font-family: 'Super Cottage', sans-serif;  
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f9fbff;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 16px;
}

.top-bar .back-button {
  text-decoration: none;
  color: #3c3c6e;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 12px;
}

.top-bar h1 {
  color: #3c3c6e;
  font-weight: bold;
  margin-top: 2vw;
}

.header-subtitulo {
  text-align: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.card-container {
  position: relative;
  width: 150px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-style: preserve-3d;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center 1%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

#card1::before {
  background-image: url(/images/atrapa-la-ropa.png);
}
#card2::before {
  background-image: url(/images/duelo-de-doblado.png);
}
#card3::before {
  background-image: url(/images/el-rey-del-tendedero.png);
}
#card4::before {
  background-image: url(/images/combo-de-manchas.png);
}

.card-container {
  transition: transform 0.2s ease;
}

.card-container:active {
  transform: scale(0.95);
}

.card {
  cursor: pointer;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5D6B8B;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000; /* Para que esté por encima de todo */
}


/*NAVEGADOR MOVIL*/
.button-nav {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button-nav:hover {
  transform: translateY(-3px);
}

.icon-img {
  width: auto;
  height: 2.5vh;
}
