@font-face {
    font-family: 'Super Cottage';
    src: url(../../../../fonts/Super\ Cottage.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Janda';
    src: url(../../../../fonts/JandaManateeSolid.ttf);
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    background-color: #5d6b8b;
    color: white;
    text-align: center;
    overflow-y: auto; /* Permite scroll vertical si el contenido excede la pantalla */
}

/* Contenedor principal */
.container-personalizado {
    width: 100%;
    position: relative;
    padding-inline: 15vw;
    margin-bottom: 10vh; /* NUEVOOOOOOOOOOO*/
}

#boton-voz-personalizado{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Super Cottage', sans-serif;
}


/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Títulos */
h1 {
    font-size: 3.5vh;
    font-family: 'Super Cottage', sans-serif;
}

h2 {
    font-size: 2vh;
    text-align: left;
    margin: 20px 0;
    font-family: 'Super Cottage', sans-serif;

}

/* Barra superior */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.top-bar .back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 12px;
}


/* Opciones */
.option{
    background: #d2d4de66;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto 20px auto ;
    box-sizing: border-box;
}

.option-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-box img {
    width: 40px;
    height: 40px;
}

.barrita-elige-valor {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 1vh;
}
.barrita-elige-valor img{
    height: 1.5vh;
}

.dropdown-menu{
    text-align: left;
    margin-top: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.23, 1, 0.32, 1);    
}

.option.expand .dropdown-menu {
    max-height: 300px; /* o ajusta según contenido */
  }


.dropdown-menu label{
    display: block;
    margin-left: 18px;
    margin-bottom: 8px;
    font-size: 1.5vh;

}


.text {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}

.title {
    font-size: 1.8vh;
    font-weight: bold;
    font-family: 'Super Cottage', sans-serif;

}

.subtitle {
    font-size: 1.5vh;
    color: #c0c4cc;
}

.slider-box {
    text-align: left;
    margin: 1vh 0;
    padding-inline: 1rem;
  }
  
  .slider-box label {
    font-weight: bold;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 0;
  }
  
  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d2d4de;
    outline: none;
    transition: background 0.3s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #5d6b8b;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #5d6b8b;
    border-radius: 50%;
    cursor: pointer;
  }


  .favs{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2vh;
    font-size: 1.5vh;
    padding: 2vh 0;
  }

  .heart {
    width: 3vh;
    height: 3vg;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .heart.activo {
    transform: scale(1.2);
    opacity: 0.9;
  }
  

  .button-save-box{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5vh 0;
  }

  .button-save {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #f6f9fd;
    border: 2px solid #f6f9fd;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  
  .button-save::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #f6f9fd;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .button-save:hover::before {
    scale: 3;
  }
  
  .button-save:hover {
    color: #5d6b8b;
    scale: 1.1;
    box-shadow: 0 0px 20px #d8dcdf;
  }
  
  .button-save:active {
    scale: 1;
  }
  


/* NAV */
.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5D6B8B;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}


.button-nav {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button-nav:hover {
    transform: translateY(-3px);
}

.icon-img {
    width: auto;
    height: 2.5vh;
}
