button.selected {
    background-color: #5b6689 !important;
    color: #d0d6e6 !important;
    box-shadow: 10px 10px 10px #d0d6e6 !important;
    transition: background-color 0.3s;
  }
  
  a.selected {
    background-color: #5D6B8B !important;
    color: #F6F9FD !important;
  }
  
  
.clickeado {
    background-color: limegreen !important;
    transition: background-color 0.3s;
  }