@font-face {
    font-family: 'Super Cottage';
    src: url(../../../../fonts/Super\ Cottage.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Super Lobster';
    src: url(../../../../fonts/Super\ Lobster.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Super Peace';
    src: url(../../../../fonts/Super\ Peace.ttf);
    font-weight: normal;
    font-style: normal;
  }


body {
    background-color: #5d6b8b;
    margin: 0;
    text-align: center;
    color: #f7f9fc;
}
.inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px; /* Espacio para los botones */
}
.inicio img {
    width: 200px;
    height: auto;
}
.inicio h1 {
    font-size: 3em;
    font-family: 'Super Peace', sans-serif;;
    
}


#game-display-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  z-index: 1000;
}

.game-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Opcional: Botón para volver */
.return-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}
