@font-face {
    font-family: 'Super Cottage';
    src: url(/fonts/Super\ Cottage.ttf);
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Super Lobster';
    src: url(/fonts/Super\ Lobster.ttf);
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Super Peace';
    src: url(/fonts/Super\ Peace.ttf);
    font-weight: normal;
    font-style: normal;
  }

  h1{
    font-size: 5vh;
    margin-top: 10vh;
    padding: 0;
    text-align: center;
    font-family: 'Super Cottage', sans-serif;
  }

  h2{
    font-size: 3vh;
    margin: 0;
    padding: 3vh;
    font-family: 'Super Cottage', sans-serif;
  }

body {
    background-color: #5d6b8b;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Super Cottage', sans-serif;
}

.options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vh;
    padding: 10vh;
}


.option{
    background-color: #d2d4de66;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 2vh;
    font-family: sans-serif;
    padding-bottom: 5vh;
}


.popup-container {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: #F6F9FD;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 50vh;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }
  
  .container h2 {
    font-family: 'Super Cottage', sans-serif;
    font-size: 6vh;
    color: #5D6B8B;
    margin-bottom: 2vh;
  }
  
  .popup-mensaje {
    font-size: 4vh;
    color: #5D6B8B;
    margin-bottom: 3vh;
  }
  
  .textito {
    font-size: 2vh;
    color: #5D6B8B;
    margin-bottom: 3vh;
  }
  
  .close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #5E6C8C;
  }
  