/*FUENTES*/

@font-face {
  font-family: 'Super Cottage';
  src: url(../../fonts/Super\ Cottage.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Janda';
  src: url(../../fonts/JandaManateeSolid.ttf);
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: 'Super Cottage', sans-serif;  
}

h2{
  font-family: 'Janda', sans-serif;  
}

h3{
  font-family: 'Super Cottage', sans-serif;  
  margin-bottom: 0.5vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f7f9fc;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 6vh;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .logo {
    font-size: 7vh;
    font-family: 'Super Cottage', sans-serif;
    font-weight: bold;
    margin: 0 1rem;
    color: #4a4a7d;
  }

  .titulo-box{
    margin: 2rem 1.5rem;
  }
  
  .subtitle {
    margin: 0.5rem 1rem 1.5rem;
    font-size: 1.5vh;
  }
 
  .lavado-box{
    margin: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lavado {
    background-color: #5D6B8B;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
  }
  
  .lavado-sombra {
    position: relative;
  }
  
  .sombra {
    position: absolute;
    height: 123px;
    border-radius: 1.5rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  
  .sombra-50 {
    width: 95%;
    height: 105%;
    background-color: #5D6B8B;
    opacity: 0.5;
  }
  
  .sombra-20 {
    width: 90%;
    height: 110%;
    background-color: #5D6B8B;
    opacity: 0.2;
  }
  


  .lavado-header {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-right: 4vw;
  }
  
  .lavado-header p {
    font-size: 2vh;
    font-family: 'Super Cottage', sans-serif;
    font-weight: bold;
    margin: 0;
 }
  
  .lavado-button {
    background-color: #e6ebf7;
    border: none;
    border-radius: 1rem;
    padding: 2vw;
    width: 30vw;
    color: #5b6689;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 0 #d0d6e6;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .lavado-button:hover {
    transform: translateY(-2px);
  }
  
  .progress-circle {
    position: relative;
    width: auto;
    height: 14vh;
  }
  
  .progress-circle img {
    width: 100%;
    height: 100%;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .categorias {
    margin: 3rem 1.5rem;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
  }

  .section-header a {
    text-decoration: underline;
    color: #000000;
    opacity: 0.5;
    font-style: italic;
    font-size: 1.5vh;
  }

  /*
  .categoria-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8vw;
    justify-content: center;
    align-items: center;
  }
  
  .categoria-frio, .categoria-calor, .categoria-eco {
    width: 10vh;
    height: 10vh;
    background-color: #e6ebf7;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 0 #d0d6e6;
  }
  
  .categoria-frio img, .categoria-calor img, .categoria-eco img {
    width: 100%;
    height: 100%;
  }
  
  .info-lavado {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    color: #5D6B8B;
    font-size: 1.5vh;
    gap: 0.5vh;
    padding-left: 1rem;
  }
  
  .categoria-frio:hover {
    width: 28vh; 
    justify-content: flex-start;
    gap: 1rem;
  }
 
  
  .categoria-frio:hover .info-lavado {
    display: flex;
  }
  
  .categoria-frio:hover ~ .categoria-calor {
    transform: translateX(-2vh);
  }
*/

.categoria-list {
  display: flex;
  grid-template-columns: repeat(3, auto);
  gap: 8vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.categoria-frio, .categoria-caliente, .categoria-eco {
  width: 10vh;
  height: 10vh;
  background-color: #e6ebf7;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 0 #d0d6e6;
  display: flex;
  align-items: center;
  transition: width 0.4s ease;
  flex-shrink: 0;
}

.categoria-frio img,
.categoria-caliente img,
.categoria-eco img {
  width: 10vh;
  height: 100%;
  max-width: 8vh;
  max-height: 8vh;
  z-index: 2;
  transition: none;
}

.info-lavado-frio, .info-lavado-caliente, .info-lavado-eco {
  opacity: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  color: #5D6B8B;
  font-size: 1.3vh;
  gap: 0.5vh;
  white-space: nowrap;
  transition: opacity 0.4s ease;
}

.categoria-frio:hover {
  width: 28vh;
  justify-content: flex-start;
}

.categoria-caliente:hover {
  width: 28vh;
  justify-content: flex-start;
}

.categoria-eco:hover {
  width: 28vh;
  justify-content: flex-start;
}

.categoria-frio:hover .info-lavado-frio {
  opacity: 1;
}

.categoria-caliente:hover .info-lavado-caliente {
  opacity: 1;
}

.categoria-eco:hover .info-lavado-eco {
  opacity: 1;
}

/* mover los siguientes a la derecha si quieres */
.categoria-frio:hover ~ .categoria-caliente,
.categoria-frio:hover ~ .categoria-eco {
  transform: translateX(3vh);
  transition: transform 0.4s ease;
}


  .personalizar {
    margin: 3rem 1.5rem;
  }

  .personalizar-sombra {
    position: relative;
  }
  

.personalizar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  .personalizar-container {
    background-color: #5D6B8B;
    border-radius: 1.5rem;
    height: 20vh;
    padding: 1.5rem;
    display: flex;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    gap: 1rem;
    position: relative;
  }
  
  .qr-box {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 60px;
    height: auto;
  }

  .qr{
    width: 100%;
  }
  
  .info {
    flex: 2; /* Ocupa  partes del espacio (1:2 ratio) */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  
  .bottom-nav {
    background-color: #5f6e9c;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .info-header{
    margin-bottom: 2vh;
  }

  .info-header h3{
    font-size: 2vh;
  }
  
  .info-header p{
    font-size: 1.5vh;
  }

/*POPUP INICIO SESIÓN*/
.popup-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Animación suave */
.popup-animado {
  animation: aparecer 0.4s ease-out;
}

@keyframes aparecer {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*POPUP REGISTRO*/
  /*POPUP INICIO SESIÓN*/
  .popup-register-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  /* Animación al mostrar */
  .popup-animado {
    animation: aparecerPopup 0.4s ease forwards;
  }
  
  @keyframes aparecerPopup {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  

/*NAV*/
  .button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5D6B8B;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000; /* Para que esté por encima de todo */
  }
  

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon-img {
  width: auto;
  height: 2.5vh;
}
